.button-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons{
    display: flex;
    gap: 5px;
}
.submit{
    border: none;
}
.delete{
    background-color: red;
    color: white;
    border: none;
}
