.custom-form-item .ant-form-item-label {
  flex: 0 0 25%;
  max-width: 25%;
}
.custom-form-item .ant-form-item-control {
  flex: 0 0 60%;
  max-width: 60%;
}

.period {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.date-picker {
  flex: none; /* 고정 너비 사용 */
  width: 120px; /* 원하는 폭으로 지정 */
}

.func-button {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
