.home-content {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.top-area {
  display: flex;
  gap: 10px;
}

.article-area {
  width: 50%;
}
.notice-area {
  width: 50%;
  /* border: 1px solid rgb(187, 187, 187); */
  /* border-radius: 15px; */
}

.business-index {
}
