.project-content {
  height: 100vh;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

.grid-func {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-list {
  display: flex;
  gap: 15px;
  font-size: 22px;
  font-weight: 500;
}

.func-button {
  display: flex;
  gap: 15px;
}

.grid-box {
  height: 80vh;
}

.modal-form-item-center {
  text-align: center;
}

.modal-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.details {
  display: flex;
  gap: 5px;
}

.pjt-info {
  font-weight: 500;
  font-size: 15px;
  width: 35%;
}

.pps {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 15px;
}

.card-inner-div {
  display: flex;
  gap: 8px;
}

.project-card {
  width: 800px;

  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid rgb(204, 204, 204);
}

.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.item-row-container {
  width: 30%;
}

.item-row {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
  gap: 5px;
}

.item-title {
  font-weight: bold;
  width: 60px;
  flex-shrink: 0;
  text-align: right;
}

.item-data {
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.all-pp-title {
  width: 200px;
  margin: 0 auto;
  font-size: 22px;
}

.product-plans {
  width: 70%;
}

.card-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pp-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pp-item {
  display: flex;
  border-radius: 8px;
  border: 1px solid black;
  justify-content: space-evenly;
  margin: 0 10px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 15px;
  margin-left: 20px;
}
