.layout {
  min-height: 100vh;
}
.layout > .ant-layout {
  min-height: 100vh;
}
.main-content {
  margin: 10px 16px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.main-footer {
  text-align: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item {
  padding: 10px 8px;
  cursor: pointer;
}
