.layout {
  min-height: 100vh;
}
.layout > .ant-layout {
  min-height: 100vh;
}
.main-content {
  margin: 10px 16px;
}
.ant-layout-sider {
  background: #001529; /* 또는 원하는 색 */
  min-height: 100vh; /* 화면 높이 기준으로 고정 */
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.main-footer {
  text-align: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item {
  padding: 10px 8px;
  cursor: pointer;
}
